<!DOCTYPE html>
<!-- regions.html page called from landing page -->
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/html/gps.css" />
	<title>Regions</title>
</head>

<body>

	{{template "topnav" . }}
	<h1 align="center">Regions</h1>

	<table align="center">
		<tr>
			<th>Description</th>
			<th>West</th>
			<th>East</th>
			<th>North</th>
			<th>South</th>
			<th>Level</th>
		</tr>
		{{range .}}
		<tr class="{{if eq (mod .SeqNum 2) 0}}even{{else}}odd{{end}}">
			<td><a href="/summary?qt=region&region={{.Description}}">{{.Description}}</a></td>
			<td style="text-align:right">{{printf "%.2f" .West}}</td>
			<td style="text-align:right">{{printf "%.2f" .East}}</td>
			<td style="text-align:right">{{printf "%.2f" .North}}</td>
			<td style="text-align:right">{{printf "%.2f" .South}}</td>
			<td style="text-align:right">{{.Level}}</td>
		</tr>
		{{end}}
	</table>

</body>

</html>